!!! 5
html
  head
    link(href='../build/build.css', rel='stylesheet', media='screen')
      
  body

    script(src='../build/build.js')
    :coffeescript

      mixin = require 'ember-overlay'
      
      compile = Em.Handlebars.compile

      overlay = Em.View.extend
        template: compile 'ت'

      view = Em.View.createWithMixins mixin,
        tagName: 'button'
        template: compile 'click me'
        overlay: overlay
      view.appendTo 'body'